*.log
chapter2_vector/x64/Debug/chapter2_vector.tlog/chapter2_vector.lastbuildstate
chapter2_vector/x64/Debug/chapter2_vector.vcxproj.FileListAbsolute.txt
chapter2_vector/x64/Debug/chapter2_vector.tlog/CL.command.1.tlog
chapter2_vector/x64/Debug/chapter2_vector.tlog/unsuccessfulbuild
chapter2_vector/x64/Debug/vc142.idb
chapter2_vector/x64/Debug/vc142.pdb
